.ipynb_checkpoints/Code to make and update templates-checkpoint.ipynb
.ipynb_checkpoints/Maps-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
build/doctrees/environment.pickle
build/doctrees/index.doctree
build/doctrees/courses/EOS110.doctree
build/doctrees/courses/EOS120.doctree
build/doctrees/courses/EOS130.doctree
build/doctrees/courses/EOS170.doctree
build/doctrees/courses/EOS201.doctree
build/doctrees/courses/EOS202.doctree
build/doctrees/courses/EOS205.doctree
build/doctrees/courses/EOS210.doctree
build/doctrees/courses/EOS220.doctree
build/doctrees/courses/EOS230.doctree
build/doctrees/courses/EOS240.doctree
build/doctrees/courses/EOS261.doctree
build/doctrees/courses/EOS300.doctree
build/doctrees/courses/EOS311.doctree
build/doctrees/courses/EOS312.doctree
build/doctrees/courses/EOS313.doctree
build/doctrees/courses/EOS314.doctree
build/doctrees/courses/EOS316.doctree
build/doctrees/courses/EOS321.doctree
build/doctrees/courses/EOS325.doctree
build/doctrees/courses/EOS330.doctree
build/doctrees/courses/EOS335.doctree
build/doctrees/courses/EOS340.doctree
build/doctrees/courses/EOS350.doctree
build/doctrees/courses/EOS365.doctree
build/doctrees/courses/EOS400.doctree
build/doctrees/courses/EOS401.doctree
build/doctrees/courses/EOS403.doctree
build/doctrees/courses/EOS408.doctree
build/doctrees/courses/EOS410.doctree
build/doctrees/courses/EOS416.doctree
build/doctrees/courses/EOS420.doctree
build/doctrees/courses/EOS423.doctree
build/doctrees/courses/EOS425.doctree
build/doctrees/courses/EOS427.doctree
build/doctrees/courses/EOS431.doctree
build/doctrees/courses/EOS433.doctree
build/doctrees/courses/EOS440.doctree
build/doctrees/courses/EOS450.doctree
build/doctrees/courses/EOS451.doctree
build/doctrees/courses/EOS460.doctree
build/doctrees/courses/EOS480.doctree
build/doctrees/courses/overview.doctree
build/doctrees/programs/overview.doctree
build/doctrees/programs/PR_BSC-BESC.doctree
build/doctrees/programs/PR_BSC-CGSC.doctree
build/doctrees/programs/PR_BSC-EOSM.doctree
build/doctrees/programs/PR_BSC-GOSC.doctree
build/doctrees/programs/PR_BSC-PESC.doctree
build/doctrees/programs/PR_MNR-ESC-Proposal.doctree
build/doctrees/programs/PR_MNR-ESC.doctree
Untitled.ipynb
test.svg
source/programs/graphs/.ipynb_checkpoints/ESMINOR_UPPER_proposed_0-checkpoint.svg
source/programs/graphs/.ipynb_checkpoints/ESMINOR_UPPER_proposed_1-checkpoint.svg
source/programs/graphs/.ipynb_checkpoints/ESMINOR_UPPER_proposed_2-checkpoint.svg
source/programs/graphs/.ipynb_checkpoints/ESMINOR_UPPER-checkpoint.svg
data/programs/.ipynb_checkpoints/BSC-PESC-checkpoint.csv
